#exercise{
    width: 360px;
}

.labels{
    font-size: 18px;
    color: blue;
}

h2{
    color: green;
    font-size: 26px;
    text-decoration: underline;
}

table, th, td{
    border: 1px solid black;
}

tr{
    border: 1px solid black;
    
}

td{
    padding: 5px;
    text-align: center;
}

th{
    padding: 5px;
    background-color: green;
}